html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(../images/topContentBg.png);
    background-size: cover;
    font-size: 12.5pt;
}

header {
    background-image:url(../images/headerBg.png);
    color: white;
    
}

.search {
    width: 280px;
}

.search_listHeader,
.search_list {
    text-align: center;
}

.search_listHeader {
    background-color: cornflowerblue;
    --bs-gutter-x: 0;
    color: azure;
    font-weight: bold;
    height: 35px;
}

.search_listHeader .col:nth-child(1),
.search_listHeader .col:nth-child(2) {
    border-right: 1px solid white;
    margin-top: 5px;
}

.search_listHeader .col:nth-child(3) {
    margin-top: 5px;
}

.search_list {
    background-image: url(../images/listBg.png);
    height: 30px;
    margin: 4px 0px;
}

.search_list:hover {
    background: #005eb5;
    color:white;
}

.search_list:hover a {
    color: white;
}

.search_list a{
    text-decoration: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.error{
    color: red;
    font-size: 12pt;
    font-weight: 500;
}

.error li{
    list-style-type: none;
}

.errorPage h1 {
    color: red;
}

.weather-compressed {
    background-color: aquamarine;
    display: block;
    border-radius: 15px;
    width: 40%;
}

/*--index--*/
.notCityList{
    color:chocolate;
    font-weight:bold;
    font-size:15pt;
    text-align:center;
}
.cityes_count {
    font-family: 'Times New Roman', Times, serif;
}