@using Weather.ViewModels
@model CityesInRegion;

<div class="container">
    @if (Model.City.Any())
    {
        <h4>@ViewData["Region"]</h4>

        @foreach (var item in Model.City ?? new List<string>())
        {
            <partial name="_CityesReg" model="item" />
        }
    }
    else
    {
        <div class="notCityList">
            <p>
                Возникла непредвиденная ошибка, попробуйте обновить страницу <br /> или повторите запрос позднее.
            </p>
        </div>
    }
</div>
