@using Weather.ViewModels
@model CityesInRegion;

@{
    int numberOfColumnsInRow = 4;
    int count = ViewBag.Count;
}

<div class="container">
    @if (Model.City.Any())
    {
        <h4>@ViewData["Region"]</h4>

        List<char> firstLetter = new List<char>(Model.CityesListWithFirstLetter.Keys);
        var keysAsDigits = Model.CityesListWithNumberKey;

        for (int i = 0; i < keysAsDigits.Count; i += numberOfColumnsInRow)
        {
            <div class="row">
                @for (int j = i; j < i + numberOfColumnsInRow && j < keysAsDigits.Count; j++)
                {
                    var item = keysAsDigits[j];
                    <div class="col">
                        <div class="region_first_letter">
                            <strong class="letter">@firstLetter[j]</strong>
                        </div>
                        @foreach (string city in item)
                        {
                            <p class="city_link">
                                <a asp-action="#" asp-route-city="#">@city</a>
                            </p>
                        } 
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="notCityList">
            <p>
                Возникла непредвиденная ошибка, попробуйте обновить страницу <br /> или повторите запрос позднее.
            </p>
        </div>
    }
</div>
