@using Weather.Models.Cityes;
@model IEnumerable<Root>

@{
    ViewData["Title"] = "Домашняя страница";
}

<div>
    @if (Model != null)
    {
        <div class="cityes_count">
            <p>@Model.Count()</p>
        </div>
        foreach (var item in Model ?? new List<Root>())
        {
            if (item != null)
            {
               <p>@item.label</p>
            }
           
        }
    }
</div>

<div class="row error">
    <div class="col">
        <div asp-validation-summary="All"></div>
    </div>
</div>