@using Weather.Models.Cityes;
@using Weather.Services.Interfaces;
@model IEnumerable<Root>
@inject ICitiesParseJsonFile fileParse

@{
    ViewData["Title"] = "Домашняя страница";
    int numberOfColumnsInRow = 4;
}

<div class="container">
    @if (Model != null)
    {
        try
        {
            <div class="cityes_count">
                <p>
                    <h4>Погода в @Model.Count() регионах страны</h4>
                </p>
            </div>
            var cityList = fileParse.GetCityesGroupAsync(Model);
            var regionsByGroup = cityList.Result.RegiosByGroupWithCharKey;
            var regionsByGropWithNumberKeys = cityList.Result.RegionsByGropWithNumberKeys;
            var cityes = cityList.Result.CityesInRegion;

            List<char> regionKeys = new List<char>(regionsByGroup.Keys);

            for (int i = 0; i < regionsByGropWithNumberKeys.Count(); i += numberOfColumnsInRow)
            {
                <div class="row">
                    @for (int j = i; j < i + numberOfColumnsInRow && j < regionsByGropWithNumberKeys.Count; j++)
                    {
                        var item = regionsByGropWithNumberKeys[j];
                        <div class="col">
                            <div class="region_first_letter">
                                <strong>@regionKeys[j]</strong>
                            </div>
                            @foreach (string region in item)
                            {
                                <p class="region_link">
                                    <a asp-action="CityesReg" asp-route-region="@region">@region</a>
                                </p>
                            }
                        </div>
                    }
                </div>
            }
        }
        catch (Exception ex) { var erMessage = ex.Message; }
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
            @* <p>
                Отображение информации временно недоступно,<br />
                повторите попытку позднее.
            </p> *@
        </div>
    }  
</div>
