@using Weather.Models.Cityes;
@model IEnumerable<Root>

@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="container">
    @if (Model != null)
    {

        var list = Model.OrderBy(name => name.label).ToList();
        List<char> firstLettersInList = null;
        if (list != null)
        {
            <div class="cityes_count">
                <h4>Погода в России в @Model.Count() регионах</h4>
            </div>

            HashSet<char> firstLetters = new HashSet<char>();
            foreach (var item in list)
            {
                firstLetters.Add((item.label).First());
            }
            firstLettersInList = firstLetters.ToList();
        }

        var regionsByGroup = new Dictionary<char, List<string>>();
        var regionsByGropWithNumberKeys = new Dictionary<int, List<string>>();

        for (int r = 0; r < firstLettersInList.Count; r++)
        {
            var regions = new List<string>();
            foreach (var item in list)
            {
                if (item.label.StartsWith(firstLettersInList[r]))
                {
                    regions.Add(item.label + " ");
                }
            }
            regionsByGroup.Add(firstLettersInList[r], regions);
            regionsByGropWithNumberKeys.Add(r, regions);
        }

        List<char> regionKeys = new List<char>(regionsByGroup.Keys);
        
        for (int i = 0; i < regionsByGropWithNumberKeys.Count(); i+=4)
        {
            <div class="row">
                @for (int j = i; j < i + 4 && j < regionsByGropWithNumberKeys.Count; j++)
                {
                    var item = regionsByGropWithNumberKeys[j];
                    <div class="col">
                        <span>
                            <strong>@regionKeys[j]</strong>
                        </span>
                        @foreach (var v in item)
                        {
                            <p>@v</p>
                        }
                    </div>
                }
            </div>
        }
    }

</div>

<div class="row error">
    <div class="col">
        <div asp-validation-summary="All"></div>
    </div>
</div>