@using Weather.Models.search
@model IEnumerable<NewItem>

@if (Model.Count() > 0)
{
    <style>
        .listOfCities {
            display: block;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col">Населенный пункт</div>
            <div class="col">Страна</div>
            <div class="col">Регион</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col">@item.name</div>
                <div class="col">@item.country</div>
                <div class="col">@item.region</div>
            </div>
        }
    </div>
}
else
{
    <style>
        .listOfCities {
            display: none;
        }
    </style>
    <div class="row">
        <div class="col">
            <div asp-validation-summary="All"></div>
        </div>
    </div>
}