@using Weather.Models.search
@model IEnumerable<NewItem>
@{
    ViewData["Title"] = "Результаты поиска";
}

<div class="container">
    @if (Model != null && Model.Any())
    {
        <div class="row search_listHeader">
            <div class="col">Населенный пункт</div>
            <div class="col">Страна</div>
            <div class="col">Регион/штат</div>
        </div>
        @foreach (var item in Model)
        {
            <partial name="_CityResults" model="item" />
        }
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
        </div>
    }
</div>
