@using Weather.Models.search
@model IEnumerable<NewItem>

<div class="container">
    <div class="row">
        <div class="col">Населенный пункт</div>
        <div class="col">Страна</div>
        <div class="col">Регион</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">@item.name</div>
            <div class="col">@item.country</div>
            <div class="col">@item.region</div>
        </div>
    }
</div>