@using Weather.ViewModels
@model ErrorViewModel
@{
    Layout = "_Error";
    ViewData["Title"] = "Что-то пошло не так";
}

<h1>Что-то пошло не так. @* @Model.StatusCode *@ </h1>

@if (Model?.StatusCode == 404)
{
    <p>Страница не найдена!</p>
}


<a asp-controller="Home" asp-action="Index"> На главную </a>


<h1 class="text-danger">Error @Model?.StatusCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
